 body,
html{
	width: 100%;
	height:100% ;
	font-family: 'Montserrat',sans-serif;
	background: url(header.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.buffer{
	height:11em ;

}
.container{
	width: 100%;
	height: 100%;
	text-align:center;


}
h1{
	color : white ;
	text-transform: uppercase;

}
.btn{
	border-radius: 300px ;
	text-transform: uppercase;


}
.btn-primary{
	background-color: orange;
	border-color: orange;


}
.btn-xl{
	padding:1rem 2rem 

}
.btn-primary:hover{
	background-color :  orangered;
	border-color: orangered;
	border-width: 2px;

}
hr{
	border-width: 4px;
	background-color: orange;
	max-width: 5em ;
}
 










































/* body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  background: url(header.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}   
.buffer{
    height: 10rem ;
}
h1{
    font-size: 3em;
    color: grey;
}
.btn{
    font-weight: 700;
    border-radius:300px;
    text-transform: uppercase;
}
.btn-primary{
    background-color: orange;
    border-color: orange;
}
.btn-primary:hover{
    background-color: orangered;
    border-color: orangered;

    border-width: 4px;
}
    
.btn-xl{
    padding:1rem 2rem ;
}
hr{
    border-color:  orange;
    border-width: 3px;
    max-width : 65px ;

} 




 */




























/* .col{
    background-color: green; 
    border: 2px solid black ;

}
.col-3{
    background-color: green; 
    border: 2px solid black ;
}
.col-6{
    background-color: green; 
    border: 2px solid black ;

} */
/* .btn-primary{
    background-color : orange ;




}
.btn-primary:hover {
    background-color: black;
}
 */












/* .container{
    display: flex;
    flex-wrap : wrap ;
    justify-content: center;
    
}

h1{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:3em ;
    border-bottom: 2px solid purple ;
    border-right: 2px solid purple;
    text-align: center;

}

img{
    width: 450px ;
    height:300px ;
    margin: 5px;
    transition: all 1s;
}           
img:hover {
    transform: scale(1.1);
}
 */

/* h2{
    color : red ;
} */
/* body{
    background-image: url(backs.jpg);
    background-size: cover;

}
h1,p{
    color : red ;
    text-align: center;
    border: 5px solid purple ;
    cursor: pointer;
}


li{
    list-style: none ;
    display: inline-block;
}
.codechef{
    border : 5px  dashed green  ;
}
#div1{
    background-color: rgba(0,255,0,0.4);
}
#div2{
    background-color: rgba(255,0,0,0.4);
} */
/* h2{
                color : red ;
                
            }
            */

